.blockekf {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .fjdjkfj {
        font-size: 15px;
        margin-bottom: 10px;
    }
    padding-bottom: 200px;
}

.ddhdxjxh {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    a {
        width: auto;
        padding: 8px;
        background-color: rgb(241, 241, 241);
        color: rgb(48, 48, 48);
        border-radius: 13px;
    }
}

.fffc {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.bloclisteapi {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .cdkdirje {
        width: 90%;
        height: auto;
        background-color: rgba(81, 81, 81, 0.071);
        border-radius: 13px;
        margin-bottom: 10px;
        color: rgb(36, 36, 36);
        padding-bottom: 10px;
        h1 {
            margin-left: 10px;
            margin-top: 10px;
            font-size: 15px;
        }
        h3 {
            margin-left: 10px;
            font-size: 12px;
        }
        p {
            margin-left: 10px;
            font-size: 9px;
        }
        display: flex;
        justify-content: space-between;
        .ffiefyei {
            width: 60%;
            height: 100%;
        }
        .ffjddfj {
            margin-top: 10px;
            width: 30%;
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                margin: 3px;
                padding: 7px;
                background-color: rgba(29, 114, 184, 0.324);
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                border-radius: 13px;
            }
            .djdjj {
                background-color: rgb(237, 34, 28);
                color: rgb(255, 255, 255);
                border: none;
                padding: 7px;
                border-radius: 13px;
            }
            .djdjjrfhgd {
                background-color: rgba(29, 114, 184, 0.699);
                color: rgb(255, 255, 255);
                border: none;
                padding: 7px;
                border-radius: 13px;
                margin-bottom: 5px;
            }
        }
    }
}