.blockekf {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .fjdjkfj {
        font-size: 15px;
        margin-bottom: 10px;
    }
    padding-bottom: 200px;
}

.ddhdxjxh {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    a {
        width: auto;
        padding: 8px;
        background-color: rgb(241, 241, 241);
        color: rgb(48, 48, 48);
        border-radius: 13px;
    }
}

.bloclisteapi {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .cdkdirje {
        width: 90%;
        height: auto;
        background-color: rgba(29, 114, 184, 0.137254902);
        border-radius: 13px;
        margin-bottom: 10px;
        color: rgb(36, 36, 36);
        padding-bottom: 10px;
        h1 {
            margin-left: 10px;
            margin-top: 10px;
            font-size: 15px;
        }
        h3 {
            margin-left: 10px;
            font-size: 12px;
        }
        p {
            margin-left: 10px;
            font-size: 9px;
        }
    }
}